################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Audio
/imgs
/ssl
*.pem
*.key
*.crt
*.env
/src/generated/prisma
